{% extends 'base.html.twig' %}

{% block title %}Hello DisplayTaskController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>




    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Status</th>
                <th>Updated</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for tasks in task %}
        <tr>
            
            <td><img src="{{ tasks.picture }}" alt="image"></td>

            {# If condition title > 50 #}
            {% if tasks.title|length > 50 %}
                <td><a href="{{ path('app_display_task_specific', {'id': tasks.id}) }}">{{ tasks.title|slice(0, 50) ~ '...' }}</a></td>
            {% else %}
                {# Link of display task by id #}
                <td><a href="{{ path('app_display_task_specific', {'id': tasks.id}) }}">{{ tasks.title }}</a></td>
            {% endif %}


            {# If condition content > 50 #}
            {% if tasks.content|length > 80 %}
                <td><span class="preview-content">{{ tasks.content|slice(0, 80) ~ '...' }}</span></td>
            {% else %}
            {# Link of display task by id #}
                <td><span class="preview-content">{{ tasks.content }}</span></td>
            {% endif %}



            {% if tasks.status == "À vendre" %}
                <td><span class="InProgress">{{ tasks.status }}</span></td>
            {% elseif tasks.status == "Trocked" %}
                <td><span class="waiting">{{ tasks.status }}</span></td>
            {% elseif tasks.status == "Réserver" %}
                <td><span class="done">{{ tasks.status }}</span></td>
            {% else %}
            {% endif %}


            <td>{{ tasks.createdAt|date_modify('+1 hour')|date('d/m/Y H:i:s') }}</td>
            {# Display status of task #}

            {# Display link edit and delete task #}
            <td>
                <span><a href="{{ path('app_edit_task', {'id': tasks.id}) }}">edit</a>
                |
                <a href="{{ path('app_remove_task', {'id': tasks.id}) }}">delete</a></span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}