{% extends 'base.html.twig' %}

{% block title %}Hello NewTaskController!{% endblock %}
{% block body %}
  <div class="container">
    <div class="space">

    {% if task.id %}
      <h1>Edit Product</h1>
    {% else %}
      <h1>New Product</h1>
    {% endif %}


      <a href="{{ path('app_display_task',) }}"><button>⬅️ Retour</button></a>
    </div>
    {{ form_start(NewTaskForm) }}
    {{ form_errors(NewTaskForm) }}

    <div class="cards">
      <div class="content_cards">
        <div class="space">
          <div class="cards_img">
            <span class="title_Tickets">New Ticket</span>
          </div>
        </div>
        <label for="title" name="title">{{ form_label(NewTaskForm.title) }}</label>
        {{ form_widget(NewTaskForm.title) }}
        <label for="description" name="description">{{ form_label(NewTaskForm.content) }}</label>
        {{ form_widget(NewTaskForm.content) }}


        <label for="status" name="status">Status</label>
        {{ form_widget(NewTaskForm.status_id) }}

        <label>Owner</label>
        {{ form_widget(NewTaskForm.owner_id) }}

        <label>Picture</label>
        {{ form_widget(NewTaskForm.picture) }}

        <label>Région</label>
        {{ form_widget(NewTaskForm.Region) }}

        <label>État de l'objet</label>
        {{ form_widget(NewTaskForm.etat_objet) }}

        <button type="submit" class="btn">Post Ticket</button>
      </div>
    </div>
  </div>
    {{ form_end(NewTaskForm) }}

{% endblock %}
