{% extends 'base.html.twig' %}

{% block title %}Task : {{ task.title }} {% endblock %}
{% block body %}

<div class="example-wrapper">






    <div class="container">
        <div class="space">
            <span class="small">Last Update : {{ task.createdAt|date('d/m/Y') }}</span>
        </div>
        <span class="title"><b>{{ task.title }}</b></span>
        <div class="space">
            <span class="content">De : {{ owner }}</span>
            <br />
            {% if status.label == "En cours" %}
                <span class="InProgress">{{ status.label }}</span>
            {% elseif status.label == "En attente" %}
                <span class="waiting"> {{ status.label }}</span>
            {% elseif status.label == "Terminé" %}
                <span class="done">{{ status.label }}</span>
            {% else %}

            {% endif %}
        </div>
        <div class="content_task">
            <span class="title"><b>Description :</b></span>
            <br />
            <span class="content">{{ task.content }}</span>
        </div>
    </div>
    {# Button for change status #}
    <div class="container">
        <div class="space">
            <span class="title"><b>Changer le status :</b></span>
        </div>
        <div class="space">
            <a href="{{ path('app_edit_task', {'id': task.id,}) }}" class="done">Trock it !</a>
        </div>

    <div class="task_tools">
                <a href="{{ path('app_edit_task', {'id': task.id}) }}">edit</a>
                <a href="{{ path('app_remove_task', {'id': task.id}) }}">delete</a>
    </div>
</div>
{% endblock %}