{% extends 'base.html.twig' %}

{% block title %}Task : {{ task.title }} {% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

{{ dump(task) }}



<div class="container">
<h1>{{ task.title }}</h1>
<span>Created by {{ task.user.username }} on {{ task.createdAt|date('d/m/Y') }}</span>
</div>

</div>
{% endblock %}
